name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:  
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci

    - name: Build Shared Package
      run: npm run build -w packages/shared

    - name: Build API
      run: npm run build -w apps/api

    - name: Build Web
      run: npm run build -w apps/web

    - name: Build Portal
      run: npm run build -w apps/portal
